<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" , href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is developed by Manish Shetty</p>
        <img class='portrait' src="/img/manishShetty.jpg"> 
        <p>{{name}}</p>
    </div>
    {{>footer}}
</body>

</html>